<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}TESTING{# TODO: change #}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href={{ STATIC_URL }}css/default.css />
  <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
  {# TODO: import js #}
</head>

<body>
<div id="container">
  <!-- Header -->
  <div id="header">
    <div id="headerBlock">
      <div id="logo" class="center">
          <a href="{% url lurkerfaqs.views.show_home %}"</a><img src="{{STATIC_URL}}img/logo.jpg" alt="logo" /></a>
      </div>
    </div>
    <div id="menu">
      <div class="menuWrapper blockCenter">
        <div class="block"><a href="{% url lurkerfaqs.views.show_boards %}">Boards</a></div>
        <div class="block"><a href="{% url lurkerfaqs.views.top_users %}">Top Users</a> </div>
        <div class="block"><a href="{% url lurkerfaqs.views.show_faq %}">FAQ</a></div>

        <div class="searchbar right">
            {# TODO link up#}
            <form id="UserSearchPostForm" method="get" action="/users/search/" accept-charset="utf-8">
                <div class="input text">
                    <label for="UserSearchText"><a href="/pages/user_search">Username</a></label>
                    <input name="search" type="text" id="UserSearchText">
                </div>
               <div class="submit"><input type="submit" value="Search"></div>
           </form>

        </div>
        <div class='clear'></div>
      </div>
    </div>
    <div class="headerHorizRule"></div>
  </div>

  <!-- Main -->
  <div id="contents">
      {% block main %}{% endblock %}
  </div>

  <!-- Footer -->
  <br/><br/><br/><br/><br/>
  <div id="footer">
    <div id="footerBar" class="blockCenter">
    <div id="footerLinks" class="innerCenter">
      "Other Resources"
      <a href='http://www.gamefaqs.com'>GameFAQs</a>
      <a href='http://wikicedia.net/'>WikiCEdia</a>
      <a href='http://www.gamefaqsarchive.com/'>GameFAQs Archive</a>
    </div>
    </div>
    </div>


</div>

</body>
</html>
