{% extends "base.html" %}

{% block main %}
<div class="ad">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9994272181290910";
/* large */
google_ad_slot = "5280362961";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div><br>

<div class="title"><h1>{% block header_main %}{% endblock %}</h1></div>

{% block nav %}
<div class="nav"></div>
{% endblock %}

{% block header %}{% endblock %}

<table class="{% block table_class %}{% endblock %}">
  {% block table_header %}<tr><th></th></tr>{% endblock %}
  {% block table_contents %}<tr><td> <td></tr>{% endblock %}
</table>

{% if page_guide %}
<div class="pagination">
    Jump to page:
    {% for i in page_guide %}
        {% if i == "..." or i == '|'%}
          <span>{{i}}</span>
        {% elif i == current_page %}
          <span class="current">{{i}}</span>
        {% else %}
            <span><a href="{% block page_url %}{% endblock %}page={{i}}">{{i}}</a></span>
        {% endif %}
    {% endfor %}
</div>
{% endif %}


<br>
<div class="ad">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9994272181290910";
/* MyFirstAd */
google_ad_slot = "6210427681";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
{% endblock %}
