{% extends "base.html" %}

{% block main %}
<div class="ad">

    <!--<div id="switch_placeholder_0783c3e914d5bec50711d1fce4de4c28" class="switch_placeholder" style="width: 728px; height: 90px;"></div>-->
    <!--<script> (__scads = window.__scads || []).push({"z":17047,"targetId":"switch_placeholder_0783c3e914d5bec50711d1fce4de4c28","domain":"delivery.us.myswitchads.com","width":"728","height":"90"}); </script>-->
    <!--<script async src="//delivery.us.myswitchads.com/adserver/sat.js?v=2"></script>-->

</div><br>

<div class="lurk-board-title"><h1>{% block header_main %}{% endblock %}</h1></div>

{% block nav %}
<div class="nav"></div>
{% endblock %}

{% block header %}{% endblock %}

<table class="{% block table_class %}{% endblock %}">
  {% block table_header %}<tr><th></th></tr>{% endblock %}
  {% block table_contents %}<tr><td> <td></tr>{% endblock %}
</table>

{% if page_guide %}
<div class="pagination">
    Jump to page:
    {% for i in page_guide %}
        {% if i == "..." or i == '|'%}
          <span>{{i}}</span>
        {% elif i == current_page %}
          <span class="current">{{i}}</span>
        {% else %}
            <span><a href="{% block page_url %}{% endblock %}page={{i}}">{{i}}</a></span>
        {% endif %}
    {% endfor %}
</div>
{% endif %}


<!-- for anything we want below the table -->
{% block  page_extra %}{% endblock %}


<br>
<div class="ad">

    <!-- Ad Unit [17047] http://lurkerfaqs.com-728x90-2 -->
    <!--<div id="switch_placeholder_e33b607ec91da0ea861e88aafba15510" class="switch_placeholder"></div>-->
    <!--<script> (__scads = window.__scads || []).push({"z":17047,"targetId":"switch_placeholder_e33b607ec91da0ea861e88aafba15510","domain":"delivery.us.myswitchads.com","width":"728","height":"90"}); </script>-->
    <!--<script async src="//delivery.us.myswitchads.com/adserver/sat.js?v=2"></script>-->

</div>
{% endblock %}
