{% extends "base_table.html" %}

{% block title %}LurkerFAQs - Boards{% endblock %}
{% block header_main %} Archived Message Boards {% endblock %}

{% block table_class %}board topics colorVisitedLink{% endblock %}
{% block table_header %} <tr><th>Boards</th></tr> {% endblock %}
{% block table_contents %}
    {% for board in boards %}
    <tr class="{% cycle 'odd' 'even' %}"><td>
        <a href="{% url lurkerfaqs.views.show_board board.alias %}">{{board.name}}</a>
    </td></tr>
    {% endfor %}
{% endblock %}
