{% extends "base.html" %}

{% block main %}
<div class="title"><h1>Frequently Asked Questions</h1></div>


<div id="content">
  <div>
    <p class="text em">Why doesn't my account have any posts?</p>
    <p class="text">
        LurkerFAQs only archives a small amount of message boards. If you can't
        find your account, you are probably are not posting in any of the
        archived boards. Also keep in mind that LurkerFAQs first started
        archiving in February 2011, so you will not see any posts before this
        date.
    </p>
    <p class="text">
    Please visit <a href="{% url "lurkerfaqs.views.show_boards" %}"> here </a>
    for a complete list of boards being archived.
    </p>
  </div>

	<br/><br/>

	<div>
    <p class="text em">This is a great site; I'm totally going to share it on GameFAQs!</p>
    <p class="text">
        Linking to LurkerFAQs is not recommended. Unfortunately, 'LurkerFAQs' is
        a banned word on the GameFAQs message boards and discussing it could get
        you modded.
    </p>
  </div>

	<br/><br/>

  <div>
    <p class="text em">Could you delete my posts?</p>
    <p class="text">No</p>
  </div>

  <div>
    <p class="text em">I have some suggestions/comments. How can I reach you?</p>
    <p class="text">
        If you have any comments, feel free to send me an email.<br/>
        <img src="{{STATIC_URL}}/img/email.gif" />
    </p>
	</div>
</div>

{% endblock %}
