{% extends base_table.html %}

{% block title_main %}  {{board.name}} {% endblock %}

{% block table_header %}
    <tr><th>{{topic.title}}</th></tr> 
{% endblock %}

{% block table_contents %}
    {% for post in posts %}
    <tr><td>
        <a href={% url lurkerfaqs.views.show_user %}>{{post.creator}}</a> | Posted on {{post.last_post_date}}		
    </td></tr>
    
    <tr class="even"></td>
        {{post.contents}}
        <br>--<br>
        {{post.signature}}
    </td></tr>
    {% endfor %}
{% endblock %}
