{% extends "base.html" %}

{% block main %}

<!--Board Title-->
<div class="lurk-board-title"><h1>{{board.name}}</h1></div>

<!--NAV-->
<div class="navLinks right">
    Back To:
    <a href="{% url "lurkerfaqs.views.show_boards" %}">Board list</a>
    | <a href="{% url "lurkerfaqs.views.show_board" board.alias %}">Topic list</a>
    {% if payment_enabled %}
        | <a href="#" onclick="showDeleteContentPopup({{topic.gfaqs_id}})">Delete Topic</a>
        | <a href="#" onclick="toggleDeletePostVisibility()">Delete Post</a>
    {% endif %}
</div>
<div class="clear"></div>

<!--Topic Title-->
<div class="row lurk-post-topic-title">{{ topic.title }}</div>

<!--Posts Table-->
<div class="container-fluid lurk-table colorVisitedLink">
    {% for post in posts %}
    <div class="row lurk-post-info" id="{{post.post_num}}">
        <div class="col-xs-6 text-left">
            <a href={% url "lurkerfaqs.views.show_user" post.creator.username %}>{{post.creator.username}}</a> | Posted on {{post.date}}
        </div>
        <div class="col-xs-6 text-right">
            {% if not post.removed %}
                <span onclick="showDeleteContentPopup({{topic.gfaqs_id}}, {{post.post_num}})"
                    class="deletePostButton glyphicon glyphicon-remove" aria-hidden="true"></span>
            {% endif %}
        </div>
    </div>
    <div class="row lurk-post-content">
        {{post.contents|safe}}
        {% if post.signature %}
            <br>--<br>
            {{post.signature|safe}}
        {% endif %}
    </div>
    {% endfor %}
</div>


<div id="deletePostModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Delete Post #<span id="post_num_display"> </span></h4>
      </div>
      <div class="modal-body">
      <div class="container-fluid large-text">
        <div class="row text-left">
            <p>Want to delete this <span class="contentType"></span>? Please donate <span class="currency-text">$5.00</span> to <span class="brand-text">LukerFAQs</span>.
            This contribution will be spent for this site's operation expenses.</p>
        </div>
        <p>Payment is processed through <span class="brand-text">Paypal</span></p>
        <div class="row text-center mid-spacing">
            <button id="donateButton" type="button" class="btn btn-warning">Donate</button>
        </div>
        <div class="row text-center">
            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_payments_by_pp_2line.png"/>
        </div>
      </div><!--/.container-fluid-->
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% if page_guide %}
<div class="pagination">
    Jump to page:
    {% for i in page_guide %}
        {% if i == "..." or i == '|'%}
          <span>{{i}}</span>
        {% elif i == current_page %}
          <span class="current">{{i}}</span>
        {% else %}
            <span>
                <a href="{% url "lurkerfaqs.views.show_topic" board.alias topic.gfaqs_id %}?page={{i}}">{{i}}</a>
            </span>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

{% if related_topics %}
<br />
<div class="head related_topics">Related Topics</div>
<table class="related_topics colorVisitedLink">
{% for rtopic in related_topics %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td><img src="{{STATIC_URL}}img/{{rtopic.status_icon}}"/></td>
        <td><a href="{% url "lurkerfaqs.views.show_topic" board.alias rtopic.gfaqs_id %}">{{rtopic.title}}</a></td>
        <td><a href="{% url "lurkerfaqs.views.show_user" rtopic.creator.username %}">{{rtopic.creator.username}}</a></td>
        <td>{{rtopic.number_of_posts}}</td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
