{% extends base_table.html %}

{% block header_main %} {{board.name}} {% endblock %}

{% block nav %}
<div class="navLinks right">
    Back To:
    <a href="{% url lurkerfaqs.views.show_boards %}">Board list</a> |
    <a href="{% url lurkerfaqs.views.show_board board.alias %}">Topic list</a> |
    <a href="{{livelink}}">Live Link</a>
</div>
{% endblock %}



{% block header %}<div class="head">{{ topic.title }}</div>{% endblock %}

{% block table_class %}board message colorVisitedLink{% endblock %}
{% block table_header %}{% endblock %}
{% block table_contents %}
    {% for post in posts %}
    <tr><td>
        <a href={% url lurkerfaqs.views.show_user %}>{{post.creator.username}}</a> | Posted on {{post.last_post_date}}
    </td></tr>
    <tr class="even"><td>
        {{post.contents}}
        <br>--<br>
        {{post.signature}}
    </td></tr>
    {% endfor %}
{% endblock %}
