{% extends "base_table.html" %}

{% block title %} {{topic.title}} {% endblock %}
{% block header_main %} {{board.name}} {% endblock %}

{% block nav %}
<div class="navLinks right">
    Back To:
    <a href="{% url "lurkerfaqs.views.show_boards" %}">Board list</a> |
    <a href="{% url "lurkerfaqs.views.show_board" board.alias %}">Topic list</a>
</div>
<div class="clear"></div>
{% endblock %}

{% block header %} <div class="head">{{ topic.title }}</div> {% endblock %}

{% block table_class %}board message colorVisitedLink{% endblock %}
{% block table_header %}{% endblock %}
{% block table_contents %}
    {% for post in posts %}
    <tr id="{{post.post_num}}"><td>
        <a href={% url "lurkerfaqs.views.show_user" post.creator.username %}>{{post.creator.username}}</a> | Posted on {{post.date}}
    </td></tr>
    <tr class="even"><td>
        {{post.contents|safe}}
        {% if post.signature %}
            <br>--<br>
            {{post.signature|safe}}
        {% endif %}
    </td></tr>
    {% endfor %}
{% endblock %}


{% block page_url %}
    {% url "lurkerfaqs.views.show_topic" board.alias topic.gfaqs_id %}?
{% endblock %}

{% block page_extra %}
{% if related_topics %}
<br />
<div class="head related_topics">Related Topics</div>
<table class="related_topics colorVisitedLink">
{% for rtopic in related_topics %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td><img src="{{STATIC_URL}}img/{{rtopic.status_icon}}"/></td>
        <td><a href="{% url "lurkerfaqs.views.show_topic" board.alias rtopic.gfaqs_id %}">{{rtopic.title}}</a></td>
        <td><a href="{% url "lurkerfaqs.views.show_user" rtopic.creator.username %}">{{rtopic.creator.username}}</a></td>
        <td>{{rtopic.number_of_posts}}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
