{% extends "base.html" %}

{% block title %}LurkerFAQS - Top Users{% endblock %}

{% block main %}
<table class="board small">
  <tr>
      <th>Username</th>
      <th>Total Topics</th>
  </tr>
  {% for user in top_user_topics%}
  <tr class="{% cycle 'even' 'odd' %}">
    <td>{{user.username}}</td>
    <td>{{user.count}}</td>
  </tr>
  {% endfor %}
</table>

<br/><br/>

<table class="board small">
  <tr>
      <th>Username</th>
      <th>Total Posts</th>
  </tr>
  {% for user in top_user_posts%}
  <tr class="{% cycle 'even' 'odd' %}">
    <td>{{user.username}}</td>
    <td>{{user.count}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
