{% extends "base_table.html" %}

{% block title %}{{board.name}}{% endblock %}
{% block header_main %}  {{board.name}} {% endblock %}

{% block nav %}
<div class="nav">

<div class="searchbar left">
    {#<form id="TopicSearchPostForm" method="get" action="{% url lurkerfaqs.views.search_user %}" accept-charset="utf-8">#}
    <form id="TopicSearchPostForm" method="get" action="" accept-charset="utf-8">
        <div class="input text">
            <input name="search" type="text" id="TopicSearchText">
        </div>
        <div class="submit"><input type="submit" value="Search"></div>
    </form>
</div>

<div class="navLinks right">
    Back To:
    <a href="{% url lurkerfaqs.views.show_boards %}">Board list</a>
</div>

</div>
{% endblock %}



{% block table_class %}board topics colorVisitedLink{% endblock %}

{% block table_header %}
<tr>
    <th></th>
    <th>Topic</th>
    <th>Created By</th>
    <th>Msgs</th>
    <th>Last Post</th>
</tr>
{% endblock %}

{% block table_contents %}
{% for topic in topics %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td><img src="{{STATIC_URL}}img/{{topic.status_icon}}"/></td>
        <td><a href="{% url lurkerfaqs.views.show_topic board.alias topic.gfaqs_id %}">{{topic.title}}</a></td>
        <td><a href="{% url lurkerfaqs.views.show_user topic.creator.username %}">{{topic.creator.username}}</a></td>
        <td>{{topic.number_of_posts}}</td>
        <td>{{topic.last_post_date}}</td>
    </tr>
{% endfor %}
{% endblock %}

{% block page_url %}
    {% url lurkerfaqs.views.show_board board.alias %}?
{% endblock %}
