{% extends "base_table.html" %}

{% block header_main %}  {{board.name}} {% endblock %}

{% block nav %}
<div class="nav">

{% comment %}
<div class="searchbar left">
    <form action="/contact/" method="post">{% csrf_token %}

    <form id="TopicSearchPostForm" method="get" action="{% url lurkerfaqs.views.user_search %}" accept-charset="utf-8">
        <div class="input text">
            <input name="search_text" type="text" id="TopicSearchText">
        </div>
        <input type="hidden" name="board_alias" value="{{board_alias}}" id="TopicBoardId">
        <div class="submit"><input type="submit" value="Search"></div>
    </form>
</div>
{% endcomment %}

<div class="navLinks right">
    Back To:
    <a href="{% url lurkerfaqs.views.show_boards %}">Board list</a> |
    <a href="{{livelink}}">Live Link</a>
</div>

</div>
{% endblock %}



{% block table_class %}board topics colorVisitedLink{% endblock %}

{% block table_header %}
<tr>
    <th>Topic</th>
    <th>Created By</th>
    <th>Msgs</th>
    <th>Last Post</th>
</tr>
{% endblock %}

{% block table_contents %}
    {% for topic in topics %}
        <tr class="{% cycle odd even %}">
            <td><a href="{% url lurkerfaqs.views.show_topic board.alias topic.gfaqs_id %}">{{topic.title}}</a></td>
            <td><a href="{% url lurkerfaqs.views.show_user topic.creator.username %}">{{topic.creator.username}}</a></td>
            <td>{{topic.num_posts}}</td>
            <td>{{topic.last_post_date}}</td>
        </tr>
    {% endfor %}
{% endblock %}
