{% extends "base_table.html" %}

{% block title %}User Search: {{query}}{% endblock %}
{% block header_main %}Search Users{% endblock %}

{% block nav %}
<div class="navLinks">
    Results for your search using the string '{{query}}':
</div>
{% endblock %}

{% block table_class %}board{% endblock %}
{% block table_header %}<tr><th>Matches</th></tr>{% endblock %}

{% block table_contents %}
{% for user in users %}
<tr class="{% cycle 'even' 'odd' %}">
    <td>
        <a href="{% url "lurkerfaqs.views.show_user" user.username %}">{{user.username}}</a>
    </td>
</tr>
{% endfor %}
{% endblock %}
