{% extends "base_table.html" %}

{% block header_main %}Board User Info{% endblock %}
{% block header %} <div class="head">Posts</div> {% endblock %}

{% block nav %}
<div class="navLinks left">
    Posts posted by <a href="{% url lurkerfaqs.views.show_user user.username %}">{{user.username}}</a>
</div>
<div class="clear">
{% endblock %}

{% block table_class %}board message{% endblock %}

{% block table_header %}{% endblock %}
{% block table_contents %}
{% for post in posts %}
    <tr><td>
     {#TODO: Format date #}
      <a href="{% url lurkerfaqs.views.show_topic post.topic.board.alias post.topic.gfaqs_id %}">{{post.topic.title}}</a> ({{post.topic.number_of_posts}}) | Posted on {{post.topic.last_post_date}}
    </td></tr>

    <tr class="even"><td>{{post.contents}}</td></tr>
{% endfor %}
{% endblock %}
