/* -- General -- */
html,body {
   margin:0;
   padding:0;
   height:100%;
}

body {
	font: 11px arial,helvetica,sans-serif;
    margin: 0px;
	padding: 0px;
}

a {
	color: #00004F;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

#container {
   min-height:100%;
   position:relative;
}

/* Header */
#header {
    margin-bottom: 20px;
    padding: 0px;
    width: 100%;
}

#headerBlock {
	height: 77px;
	/*background-color: #6564FF;*/
	background-color: #81BD00;

}

/* Menu */
#menu {
	background:#DFDFDF;
	border: 0 solid #898989;
	/*border-bottom: 1px solid #6F6F6F;*/
	width: 100%;
	height: 30px;
	margin: 0 auto;
}

#menu .block {
	border-right:1px solid #00004F;
	padding: 0 8px 0 9px;
	margin: 8px 0 8px 0;
	float: left;
        display: block;
}


/*footer*/
#footer {
	position:absolute;
	bottom:0;
	width: 100%;
}

#footerBar {
    background: #868278;
	height: 22px;
}
#footerLinks {
	background: none;
	padding-top: 3px;
	font: 9px/16px tahoma,arial,helvetica,sans-serif;
	text-align: center;
}

#footer a {
	border-right:1px solid black;
	color: #DFDFDF;
	padding: 0 3px 0 3px;
	margin: 3px 0 3px 0;
}

#logo {
	width: 980px;
	padding-top: 10px;
}

/* Misc */
.left{ float: left; }
.right{	float: right; }
.clear{ clear: both; }
.hidden{ visibility:hidden; display: none;}
.center{ margin-left:auto; margin-right:auto; }
.ad{ margin-left:auto; margin-right:auto; width: 75%; }

.blockCenter{ width: 80%; margin-left: auto; margin-right: auto; }
.innerCenter{ width: 400px; margin-left: auto; margin-right: auto;}

p.em{font-weight:bold}
p.text{width:70%; font-size:12px}


/* -- Page --*/
/* Contents */
#contents {
    width: 980px;
    margin-left:auto;
    margin-right:auto;
    padding: 0px 5px;
}

/*Title*/
.title {
	border-bottom: 1px solid #898989;
	margin-bottom: 20px;
	padding: 0px;
}

.title h1 {
	font-size: 22px;
	color: blue;
	margin: 0px;
}


/* Nav*/
.navLinks{
	margin-top: 10px;
	display: inline;
        margin-bottom: 5px;
}

/*Search Bar*/
.searchbar{ padding-top: 1px; }
.searchbar label{margin-right: 5px;}
#UserSearchPostForm div{ float: left; }

#TopicSearchPostForm div{ float: left;}
#TopicSearchText{ width: 300px;}

.head{
	background:#6564FF;
	color: white;
	font-weight: bold;
	padding: 6px 8px;
	line-height: 16px;
}

.colorVisitedLink a:visited { color: #6666cc; }
.small{ width: 70% }


/* -- Table --*/
table.board{
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

table.board th{
	background:#6564FF;
	color: white;
}

table.board td, th{
    padding:6px 5px;
}

table.board tr{
	background:#EEE;
}

table.board tr.even{
	background:white;
}

table.board p{ margin: 0px; }


/* -- Post List -- */
table.message{
	border: 0 solid #999;
	border-width: 2px 0 0;
	margin: 1px 0 15px;
}
table.message td{
	border: 0 solid #999;
	border-width: 0 0 2px;
	font-size: 12px;
	padding: 10px;
	vertical-align: top;
}

table.message img {
    max-width: 100%;
}

.related_topics {
    width: 60%;
}


/* -- Poll -- */
.table {width:100%;display:table;padding:2px;table-layout:fixed;}
.table_row {display:table-row;}
.table_row_bottom {display:table-row;border-top:1px dotted black}
.table_col_20 {display:table-cell;width:5%;text-align:center;padding:1px}
.table_col_10 {display:table-cell;width:10%;text-align:center;padding:1px}
.table_col_5 {display:table-cell;width:20%;text-align:center;padding:1px}
.table_col_3 {display:table-cell;width:33%;text-align:center;padding:1px}
.table_col_auto {display:table-cell;width:auto;text-align:left;padding:1px}
.bar .table_col_5, .bar .table_col_auto, .bar .table_col_3, .bar .table_col_20{padding:1px 1px 10px 1px;border-bottom:1px dotted black}
.board_poll {display: block; border: 1px black solid; width: auto; border-radius: 5px; padding: 5px; margin: 5px;}
.board_poll .poll_head {font-weight: bold; font-size: 14px; padding: 2px;}
.board_poll .poll_body {padding: 3px;}
.board_poll .poll_foot_left {display: inline-block; float:left; padding: 2px;}
.board_poll .poll_foot_right {display: inline-block; float:right; padding: 10px 10px 2px 0px; }
.board_poll .poll_foot {display: block; clear:both;}
.board_poll .poll_bar {background:#00f;float:left;text-align:right; margin-bottom: -1px; height:12px;}
.board_poll .table .table_row{border-bottom:1px solid #ddd;}
.board_poll .table .table_row:last-child{border-bottom:0;}

/* -- Quotes -- */
blockquote {
    padding:2px 6px 2px 6px;
    margin:0;
    border: 1px dotted black;
}
cite{font-weight:bold; font-style: italic}

/* -- Spoilers */
.fspoiler, .fspoiler a, .fspoiler blockquote{
    background-color:#333;color:#333;
}
