/* -- Bootstrap overrides -- */
blockquote {
    font-size: inherit;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.row [class*='col-']:not(:first-child),
.row [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


.container-fluid {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

/*-- General --*/
.lurk-board-title h1 {
	border-bottom: 1px solid #898989;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
	color: blue;
    font: 22px arial,helvetica,sans-serif;
    font-weight: bold;
}

.large-text {
    font-size: 16px;
}

.currency-text {
    color: #b12704;
}

.brand-text {
    font-weight: bold;
}

.mid-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -- Table --*/
.lurk-table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
	border: 0 solid #999;
	border-width: 2px 0 0;
	margin: 1px 0 15px;
}

.lurk-table .row {
    padding-left: 10px;
    padding-right: 10px;
}

.lurk-table p {
    margin: 0px;
}


/* -- Post List -- */
.lurk-post-topic-title{
	background:#6564FF;
	color: white;
	font-weight: bold;
	padding: 6px 8px;
	line-height: 16px;
}

.lurk-post-info, .lurk-post-content {
	border: 0 solid #999;
    border-width: 0 0 2px;
	font-size: 12px;
	padding: 10px;
	vertical-align: top;
}

.lurk-post-info {
	background: #EEE;
}

.lurk-post-content {
    background: white
}


.lurk-post-content img {
    max-width: 100%;
}

.lurk-post-content blockquote {
    padding:2px 6px 2px 6px;
    margin:0;
    border: 1px dotted black;
}

/*-- Related Topics --*/
.related_topics td {
    padding: 1px;
}
